[Unit]
Description=Notes App (Docker)
After=network.target docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm -p 3000:3000 --name notesapp mosesekerin/notesapp:v1
Restart=always
RestartSec=5

StandardOutput=append:/var/log/notesapp.log
StandardError=append:/var/log/notesapp.log

NoNewPrivileges=true

[Install]
WantedBy=multi-user.target